<div class="display-container mt-4">
  {{!-- filters --}}
  <form class="filters d-flex justify-content-between" action="/">
    {{!-- month --}}
    <select class="filter-form form-select form-select-sm" name="month" onchange="this.form.submit()">
      <option value="all">月份</option>
      <option value="1" {{ifSelect month '1' }}>1月</option>
      <option value="2" {{ifSelect month '2' }}>2月</option>
      <option value="3" {{ifSelect month '3' }}>3月</option>
      <option value="4" {{ifSelect month '4' }}>4月</option>
      <option value="5" {{ifSelect month '5' }}>5月</option>
      <option value="6" {{ifSelect month '6' }}>6月</option>
      <option value="7" {{ifSelect month '7' }}>7月</option>
      <option value="8" {{ifSelect month '8' }}>8月</option>
      <option value="9" {{ifSelect month '9' }}>9月</option>
      <option value="10" {{ifSelect month '10' }}>10月</option>
      <option value="11" {{ifSelect month '11' }}>11月</option>
      <option value="12" {{ifSelect month '12' }}>12月</option>
    </select>
    {{!-- category --}}
    <select class="filter-form form-select form-select-sm" name="category" onchange="this.form.submit()">
      <option value="all">類別</option>
      <option value="home" {{ifSelect category 'home' }}>家居物業</option>
      <option value="traffic" {{ifSelect category 'traffic' }}>交通出行</option>
      <option value="entertainment" {{ifSelect category 'entertainment' }}>休閒娛樂</option>
      <option value="food" {{ifSelect category 'food' }}>餐飲食品</option>
      <option value="others" {{ifSelect category 'others' }}>其他</option>
    </select>

  </form>


  {{!-- totalAmount --}}

  <div class="total-amount d-flex justify-content-between mt-2">
    <span>總金額:</span>
    <div class="amount">${{totalAmount}}</div>
  </div>


  {{!-- expenses --}}
  <ul class="list-group">
    {{#each records}}
      <div class=" d-flex justify-content-between list-item mb-2">
        <div class=" py-1 px-3 item-box d-flex align-items-center">

          {{!-- left --}}
          <div class="expense-left d-flex align-items-center">
            {{!-- icon --}}
            <div class="expense-icon">
              <i class="{{this.category}}"></i>
            </div>

            {{!-- expense item --}}
            <div class="expense-item d-flex flex-column justify-content-center">
              <span class="category">{{this.name}}</span>
              <small class="date">{{this.date}}</small>
            </div>

            {{!-- merchant --}}
            <div class="expense-merchant">
              <span class="fst-italic fw-light">{{this.merchant}}</span>
            </div>
          </div>

          {{!-- right & amount --}}
          <div class="expense-amount">
            <span>${{this.amount}}</span>
          </div>
        </div>
        {{!-- buttons --}}
        <div class="button-box d-flex align-items-center py-1">
          {{!-- edit --}}
          <a href="/expenses/{{this._id}}/edit">
            <button class="btn btn-secondary">修改</button>
          </a>
          {{!-- delete --}}
          <form action="/expenses/{{this._id}}?_method=DELETE" method="POST" onsubmit="return confirm('確定要刪除嗎?')">
            <button class="btn btn-warning" type="submit">刪除</button>
          </form>

        </div>

      </div>
    {{/each}}
  </ul>
  <div class="row mt-2">
    <div class="col-3"></div>
    <div class="col-6 d-flex justify-content-center">
      <a href="/expenses/new">
        <button class="btn btn-dark">新增支出</button>
      </a>
    </div>
  </div>

</div>

</div>